@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600;700;800&display=swap");
@import "variables";
@import "reset";

html {
  scroll-behavior: smooth;
}

body {
  font-family: $font-family;
  color: $primary-color;
  background-color: $homepage-bg;
  font-size: $font-size--base;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
  object-fit: cover;
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

button {
  cursor: pointer;
}
